html,body{
   width: 100%;
   height: 100%;
}
.userForm{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #085444;
}
.userForm form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-div button{
    background-color: #5ad6a7;
    color:white;
    width: 50%;
}
.btn-div button:hover{
    background-color: #339771;
    color: white;
}