<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício</title>
</head>
<body>
    <p th:text= "'Nome: ' + ${exercicio.nome}"> </p>
    <p th:text="'N° de séries: ' +  ${exercicio.series}"> </p>
    <p th:text="'N° de repetições: ' + ${exercicio.repeticoes}"> </p>
    <p th:text="'Observações: ' + ${exercicio.observacoes}"> </p>
    <a th:href="@{/exercicio/showFormEdit/{id}(id = ${exercicio.id})}">Editar</a>
</body>
</html>