<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios</title>
    <style>
        .card-exercicio{
            border: 1px solid black;
            margin-bottom: 10px;
            width: 400px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <p th:if="${#lists.isEmpty(exercicios)}">Não há nenhum exercício cadastrado!</p>
    <h3 th:unless="${#lists.isEmpty(exercicios)}">Exercícios</h3>
    <div class="card-exercicio" th:each="exercicio : ${exercicios}">
        <div>
            <p th:text="${exercicio.nome}"></p>
            <p th:text="${exercicio.series} + 'x' + ${exercicio.repeticoes}"></p>
        </div>
        <div>
            <a th:href="@{/exercicio/showDetailsExercicio/{id}(id = ${exercicio.id})}">Detalhes</a>
            <a th:href="@{/exercicio/deleteExercicio/{id}(id = ${exercicio.id})}">Apagar</a>
        </div>
    </div>
    <br/><br/>
    <p><a href="/exercicio/showForm">Adicionar exercício</a></p>
    <br/>
    <p><a href="/">Home</a></p>
</body>
</html>